.ins{
    top: 173px;
    left: 166px;
    gap: 0px;
    opacity: 0px;

}
.box{

    width: 300px;
    height: 300px;
    background-color: black;
}
.item{
    font-size: 13px;
    text-align: center;
    color: white;
    margin-left: 10px;
}
b{
    font-size: 24px;
}
.box_main{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    gap: 100px;
}